body,
html {
  margin: 0;
  background-color: rgb(13, 13, 17);
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
}

:root {
  --main: rgb(255, 200, 26);
  --main-accent: rgb(255, 164, 0);
  --eye: rgb(124, 213, 154);
  --eye-accent: rgb(14, 81, 11);
}

.cat {
  position: relative;
  width: 100%;
  height: 100%;
}

.head {
  width: 40%;
  height: 31%;
  position: absolute;
  background: radial-gradient(circle, var(--main) 22%, var(--main-accent) 95%);
  top: 19%;
  right: 50%;
  border-radius: 47% 53% 50% 50% / 55% 56% 44% 45%;
  transform: translateX(50%);
  z-index: 2;
  box-shadow: 10px 10px 37px -4px rgba(0, 0, 0, 0.09);
}

.eyes {
  width: 70px;
  height: 70px;
  position: absolute;
  background: radial-gradient(circle, var(--eye) 3%, var(--eye-accent) 95%);
  top: 50px;
  border-radius: 50%;
}

.eyes:after {
  content: '';
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  background-color: black;
  height: 78%;
  width: 30%;
  border-radius: 50%;
}

.left_eye {
  left: 19%;
}

.right_eye {
  right: 19%;
}

/* .nose {
  position: absolute;
  background: radial-gradient(circle, #d26d6d 22%, #a05252 95%);
  top: 55%;
  right: 50%;
  width: 14%;
  height: 16%;
  transform: translateX(50%);
  border-radius: 34% 66% 56% 44% / 65% 70% 30% 35%;
  box-shadow: 0 0 1px 2px rgb(79 47 35 / 77%);
} */

.nose {
  position: absolute;
  transform: translateX(50%);
  top: 55%;
  right: 50%;
  width: 0;
  height: 0;
  border-left: 34px solid transparent;
  border-right: 34px solid transparent;
  border-top: 50px solid #d26d6d;
  border-radius: 40%;
}

#moon {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  box-shadow: 15px 15px 0 0 red;
}

.mouth {
  position: absolute;
  transform: translateX(50%);
  top: 65%;
  right: 50%;
  width: 300px;
  height: 100px;
}

.mouth::after {
  content: '';
  position: absolute;
  left: 55px;
  top: -9px;
  width: 33%;
  height: 50%;
  border-radius: 50%;
  box-shadow: -3px 6px 0 0 black;
}

.mouth::before {
  content: '';
  position: absolute;
  transform: scaleX(-1);
  left: 147px;
  top: -9px;
  width: 33%;
  height: 50%;
  border-radius: 50%;
  box-shadow: -3px 6px 0 0 black;
}

.whiskers-left {
  position: absolute;
  top: 65%;
  width: 40%;
  height: 10%;
  border-bottom: 3px solid white;
  left: -27%;
  transform: rotateZ(5deg);
  transform-origin: right;
}

.whiskers-left:before {
  content: '';
  position: absolute;
  top: 36%;
  width: 110%;
  height: 10%;
  border-bottom: 3px solid white;
  left: -27px;
  transform: rotateZ(5deg);
  transform-origin: right;
}

.whiskers-left:after {
  content: '';
  position: absolute;
  top: 156%;
  width: 110%;
  height: 10%;
  border-bottom: 3px solid white;
  left: -27px;
  transform: rotateZ(-5deg);
  transform-origin: right;
}

.whiskers-right {
  position: absolute;
  top: 65%;
  width: 40%;
  height: 10%;
  border-bottom: 3px solid white;
  left: 93%;
  transform: rotateZ(-1deg);
  transform-origin: left;
}

.whiskers-right:before {
  content: '';
  position: absolute;
  top: 36%;
  width: 110%;
  height: 10%;
  border-bottom: 3px solid white;
  left: -27px;
  transform: rotateZ(-13deg);
  transform-origin: left;
}

.whiskers-right:after {
  content: '';
  position: absolute;
  top: 156%;
  width: 110%;
  height: 10%;
  border-bottom: 3px solid white;
  left: -27px;
  transform: rotateZ(1deg);
  transform-origin: left;
}

.head:before {
  content: '';
  position: absolute;
  width: 24%;
  height: 34%;
  background: radial-gradient(circle, var(--main) 11%, var(--main-accent) 145%);
  border-right: 29px solid var(--main);
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
  border-radius: 18% 82% 54% 46% / 0% 39% 61% 100%;
  transform: rotateZ(-60deg);
  top: -34%;
  right: 2%;
}

.head:after {
  content: '';
  position: absolute;
  transform: scaleX(-1) rotateZ(-60deg);
  width: 24%;
  height: 34%;
  background: radial-gradient(circle, var(--main) 11%, var(--main-accent) 145%);
  border-right: 29px solid var(--main);
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
  border-radius: 18% 82% 54% 46% / 0% 39% 61% 100%;
  top: -34%;
  left: 2%;
}

.body {
  width: 54%;
  height: 64%;
  position: absolute;
  background: radial-gradient(circle, var(--main) 22%, var(--main-accent) 95%);
  bottom: 0;
  right: 50%;
  border-radius: 48% 52% 49% 51% / 100% 100% 0% 0%;
  transform: translateX(50%);
}

.tail {
  width: 10%;
  height: 60%;
  position: absolute;
  background: radial-gradient(circle, var(--main) 22%, var(--main-accent) 95%);
  bottom: 0;
  right: 28%;
  transform-origin: bottom;
  transform: rotateZ(43deg);
  border-radius: 8% 92% 0% 100% / 28% 91% 9% 72%;
}

.paw {
  position: absolute;
  bottom: 0;
  left: 25%;
  width: 18%;
  height: 50%;
  border-radius: 30%;
  box-shadow: 6px 3px 0px 1px black, -6px 4px 0px 1px black;
}

.paw:nth-child(2) {
  right: 75%;
}
